@font-face {
  font-family: "ShareTechMono";
  src: URL("ShareTechMono-Regular.ttf") format("truetype");
}

* {
  font-family: "ShareTechMono";
}

body {
  background-color: rgba(16, 16, 26);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button,
span,
input {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 24;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  margin: 0.5rem;
}

input {
  background-color: rgba(32, 32, 42);
}

button {
  background-color: rgba(16, 154, 16);
}

button:hover,
input:hover {
  filter: brightness(1.4);
}

button:active,
input:active {
  filter: brightness(0.95);
}

#create,
#or {
  width: 20rem;
}

#join {
  width: 9rem;
}

#room {
  width: 10rem;
}

#hint {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: min(100%, 100rem);
  aspect-ratio: 2 / 1;
  background-color: rgba(7, 7, 10);
}

#scoreContainer {
  position: fixed;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  width: 20rem;
  height: 5rem;
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 12);
  white-space: nowrap;
}

#scoreL,
#scoreDel,
#scoreR {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 5rem;
  width: 8rem;
  color: white;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
}

#scoreDel {
  width: 4rem;
}
